// Extra buttons for extended standard mode layout.
// Included by IDD_DIALOG_STANDARD dialog in each language resources

    CTEXT "", IDC_TEXT_PARENT, 40, 46, 18, 16, SS_CENTERIMAGE, WS_EX_CLIENTEDGE
    PUSHBUTTON "(", IDC_BUTTON_LEFTPAR, 62, 45, 24, 18, BS_CENTER | BS_VCENTER |
               BS_NOTIFY | BS_OWNERDRAW | WS_TABSTOP
    PUSHBUTTON ")", IDC_BUTTON_RIGHTPAR, 88, 45, 24, 18, BS_CENTER | BS_VCENTER |
               BS_NOTIFY | BS_OWNERDRAW | WS_TABSTOP
    PUSHBUTTON "M-", IDC_BUTTON_MM, 5, 105, 24, 18, BS_CENTER | BS_VCENTER |
               BS_NOTIFY | BS_OWNERDRAW | WS_TABSTOP
    PUSHBUTTON "x^y", IDC_BUTTON_XeY, 140, 45, 24, 18, BS_CENTER | BS_VCENTER |
               BS_NOTIFY | BS_OWNERDRAW | WS_TABSTOP
