/*
 * Global common version info
 * This version resource file should be included bin main resource.rc file of each app.
 * Resource.rc of each app should define consts below. Examnple:
 * 
 * #define APP_PRODUCTNAME		"XExam"
 * #define APP_PRODVERMINOR		3,1
 * #define APP_PRODVERMINOR_STR		"3.1-beta"
 * #define APP_FILEVERMINOR		3,344
 * #define APP_FILEDESCRIPTION		"Example desktop accessory app"
 * #define APP_ORIGINALFILENAME		"xexam.exe"
 * 
 * PROJECT_VERSION number in "version.rc" is prefixed as major version number. 
 */

// ---- Begin configuration section ----
#define PROJECT_VERSION		0,1
#define PROJECT_VERSION_STR	"0.1"

// For localized versions.
// Define message resouce language here.
#define	LANGUAGE_KO_KR
// see https://learn.microsoft.com/en-us/windows/win32/menurc/versioninfo-resource
#define APP_TRANSLATION		0x0412,03B5
// ---- End configuratio ---

#ifndef APP_TRANSLATION
#define APP_TRANSLATION 0x409, 1252
#endif

#define	LANGUAGE_EN_US

#define APP_LEGALCOPYRIGHT "© 2023 Kookie. All Rights Reserved\0"

#define APP_FILEVERSION			PROJECT_VERSION,APP_FILEVERMINOR
#define APP_PRODUCTVERSION		PROJECT_VERSION,APP_PRODVERMINOR
#define APP_PRODUCTVERSION_STR		PROJECT_VERSION_STR "." APP_PRODVERMINOR_STR
#define MKSTR(s) #s

#include <verrsrc.h>

VS_VERSION_INFO VERSIONINFO
FILEVERSION     APP_FILEVERSION
PRODUCTVERSION  APP_PRODUCTVERSION
FILEFLAGSMASK   VS_FFI_FILEFLAGSMASK
#ifndef DEBUG
FILEFLAGS       0
#else
FILEFLAGS       (VS_FF_PRIVATEBUILD | VS_FF_PRERELEAS | VS_FF_DEBUG)
#endif
FILEOS          VOS__WINDOWS32
FILETYPE        VFT_APP
FILESUBTYPE     VFT2_UNKNOWN
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904E4"
        BEGIN
 //           VALUE "CompanyName",      VER_COMPANYNAME_STR
            VALUE "FileDescription",  APP_FILEDESCRIPTION
            VALUE "FileVersion",      MKSTR(APP_FILEVERSION) "\0" 
//            VALUE "InternalName",     VER_INTERNALNAME_STR
            VALUE "LegalCopyright",   APP_LEGALCOPYRIGHT
//            VALUE "LegalTrademarks1", VER_LEGALTRADEMARKS1_STR
//            VALUE "LegalTrademarks2", VER_LEGALTRADEMARKS2_STR
            VALUE "OriginalFilename", APP_ORIGINALFILENAME
            VALUE "ProductName",      APP_PRODUCTNAME
            VALUE "ProductVersion",   APP_PRODUCTVERSION_STR
        END
    END

    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", APP_TRANSLATION
    END
END

/* Manifest */
#ifndef NOMANIFEST
#ifndef CONSOLE_APP
// Link .exe file with /MANIFEST:NO linker option
CREATEPROCESS_MANIFEST_RESOURCE_ID RT_MANIFEST "../manifest.xml"
#endif
#endif
