LANGUAGE LANG_ENGLISH, SUBLANG_DEFAULT

STRINGTABLE
BEGIN
    IDS_APPNAME         "WineMine"
    IDS_NOBODY          "Nobody"
    IDS_ABOUT           "Copyright 2000 Joshua Thielen"
    IDC_CONFIRMTITLE,   "Reset Results"
    IDC_CONFIRMTEXT,    "All results will be lost. Are you sure?"    
END

IDM_WINEMINE MENU
BEGIN
    POPUP "&Game"
    BEGIN
        MENUITEM "&New\tF2", IDM_NEW
        MENUITEM SEPARATOR
        MENUITEM "&Mark Question", IDM_MARKQ
        MENUITEM SEPARATOR
        MENUITEM "&Beginner", IDM_BEGINNER
        MENUITEM "&Intermediate", IDM_ADVANCED
        MENUITEM "&Expert", IDM_EXPERT
        MENUITEM "&Custom...", IDM_CUSTOM
        MENUITEM SEPARATOR
        MENUITEM "&Fastest Times...", IDM_TIMES
        MENUITEM "&About", IDM_ABOUT
        MENUITEM SEPARATOR
        MENUITEM "E&xit\tAlt+X", IDM_EXIT
    END
/*
    POPUP "&Info"
    BEGIN
        MENUITEM "&Fastest Times...", IDM_TIMES
        MENUITEM "&About", IDM_ABOUT
    END
*/
END

DLG_TIMES DIALOGEX 0, 0, 170, 80
STYLE DS_MODALFRAME | WS_VISIBLE | WS_CAPTION | WS_SYSMENU | WS_POPUP | DS_SHELLFONT
CAPTION "Fastest Times"
FONT 8, "MS Shell Dlg"
BEGIN
    GROUPBOX "Fastest Times",   -1,  10,  10, 150,  45
    LTEXT "Beginner",           -1,  20,  20,  60,   8
    LTEXT "Advanced",           -1,  20,  30,  60,   8
    LTEXT "Expert",             -1,  20,  40,  60,   8
    LTEXT "999",         IDC_TIME1,  80,  20,  15,   8
    LTEXT "999",         IDC_TIME2,  80,  30,  15,   8
    LTEXT "999",         IDC_TIME3,  80,  40,  15,   8
    LTEXT "",            IDC_NAME1, 100,  20,  55,   8
    LTEXT "",            IDC_NAME2, 100,  30,  55,   8
    LTEXT "",            IDC_NAME3, 100,  40,  55,   8
    DEFPUSHBUTTON "OK",  IDOK,      115,  60,  40,  15
    PUSHBUTTON      "Reset Results", IDC_RESET,  15,  60,  90,  15
END

DLG_CONGRATS DIALOGEX 0, 0, 160, 60
STYLE DS_MODALFRAME | WS_VISIBLE | WS_CAPTION | WS_SYSMENU | WS_POPUP | DS_SHELLFONT
CAPTION "Congratulations!"
FONT 8, "MS Shell Dlg"
BEGIN
    LTEXT "Please enter your name",     -1,  10,  10, 150,  10
    EDITTEXT                  IDC_EDITNAME,  25,  20, 110,  12
    DEFPUSHBUTTON "OK",               IDOK,  60,  40,  40,  15
END

DLG_CUSTOM DIALOGEX 0, 0, 140, 100
STYLE DS_MODALFRAME | WS_VISIBLE | WS_CAPTION | WS_SYSMENU | WS_POPUP | DS_SHELLFONT
CAPTION "Custom Game"
FONT 8, "MS Shell Dlg"
BEGIN
				
    LTEXT "Rows",               -1,   5,   5,  70,  10
    LTEXT "Cols",               -1,   5,  35,  70,  10
    LTEXT "Mines",              -1,   5,  65,  30,  10
    EDITTEXT          IDC_EDITROWS,   5,  15,  35,  12, ES_NUMBER
    EDITTEXT          IDC_EDITCOLS,   5,  45,  35,  12, ES_NUMBER
    EDITTEXT         IDC_EDITMINES,   5,  75,  30,  12, ES_NUMBER
    DEFPUSHBUTTON "OK",       IDOK,  80,  30,  50,  15
    PUSHBUTTON "Cancel",  IDCANCEL,  80,  50,  50,  15
END
