/*
 * Clock resources
 *
 * Copyright 1998 Marcel Baur <mbaur@g26.ethz.ch>
 * Copyright 2002 Sylvain Petreolle <spetreolle@yahoo.fr>
 *
 * This library is free software; you can redistribute it and/or
 * modify it under the terms of the GNU Lesser General Public
 * License as published by the Free Software Foundation; either
 * version 2.1 of the License, or (at your option) any later version.
 *
 * This library is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
 * Lesser General Public License for more details.
 *
 * You should have received a copy of the GNU Lesser General Public
 * License along with this library; if not, write to the Free Software
 * Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA 02110-1301, USA
 */

#include "clock_res.h"

#define APP_PRODUCTNAME		        "XClock"
#define APP_PRODVERMINOR            3,0
#define APP_PRODVERMINOR_STR	    "1.0"
#define APP_FILEVERMINOR            3,30
#define APP_FILEDESCRIPTION	        "Simple Clock"
#define APP_INTERNALNAME	        "xclock"
#define APP_ORIGINALFILENAME	    "xclock.exe"

#include "../version.rc"

#pragma makedep po

LANGUAGE LANG_ENGLISH, SUBLANG_DEFAULT

// MAIN_MENU MENU
// POPUP "&Properties" {

POPUP_MENU MENU
BEGIN
    POPUP "Dummy"
    BEGIN 
        MENUITEM "&Analog", IDM_ANALOG
        MENUITEM "&Digital", IDM_DIGITAL
        MENUITEM "&Seconds", IDM_SECONDS
        MENUITEM "24 &Hours", IDM_24HOURS
        MENUITEM SEPARATOR
//        MENUITEM "Date on Titlebar", IDM_DATE
        MENUITEM "&No Title Bar", IDM_NOTITLE
        MENUITEM "Always on &Top", IDM_ONTOP
        MENUITEM "Dar&k Color"    IDM_DARKCOLOR
//        MENUITEM "&Font...", IDM_FONT
        MENUITEM SEPARATOR
        MENUITEM "A&bout Clock", IDM_ABOUT
        MENUITEM "E&xit", IDM_EXIT
    END
END


STRINGTABLE
{
IDS_CLOCK, "XClock"
}

/* @makedep: clock.manifest */
// 1 RT_MANIFEST clock.manifest
